@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #121214;
  color: rgb(28, 193, 215);
  text-align: -webkit-center;
}

a, button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: rgb(28, 193, 215);
}

.image-container{
  border-radius: 50%;
 
}
@media (max-width: 760px) {
  .image-container {
    max-height: 100px; /* Ajuste a altura máxima para dispositivos móveis */
    max-height: 100px; /* Ajuste a altura máxima para dispositivos móveis */

  }
}

.title-skills {
  margin: 30px;

}
