@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #121214;
  color: rgb(28, 193, 215);
  text-align: -webkit-center;
}

a, button {
  cursor: pointer;
}

.image-container{
  width: 300px !important;
  height: 300px !important;
  border-radius: 50%;
 
}